@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	font-family: 'Josefin Sans', 'Ubuntu' sans-serif;
}
body {
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Josefin Sans', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
